/*
* @Author: 16469
* @Date:   2017-07-19 03:32:12
* @Last Modified by:   16469
* @Last Modified time: 2017-07-19 03:55:07
*/
.page-wrap{
	background: #FFF;
    text-align: center;
    padding: 10px 0 25px;
}
.payment-tips{
	padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #666;
    text-align: center;
}
.payment-tips:nth-child(2){
	    color: #c60023;
}
.img-con{
	margin: 0 auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ddd;
}
.img-con .qr-code{
	width: 100%;
	height: 100%;
}