<nav class="w">
	<div class="user-info">
		<span class = "not-login">
			<a href = "./user-login.html" class="link js-login">登陆</a>
			<span class="link-text"> | </span>
			<a href = "./user-register.html" class="link js-logup">注册</a>
		</span>
		<span class ="login hide">
			<span class="link-text">欢迎，</span>
			<span class="user-name">张伟</span>
			<span class="link js-out">退出</span>
		</span>
		<ul class="nav-lists">
			<li class="nav-itme"><a href="./user-content.html" class="link">我的头像</a></li>
			<li class="nav-itme">
				<a href="./cart.html" class="link">
					<i class="fa fa-shopping-cart"></i>
				购物车(<span class="cart-num">0</span>)
				</a>
			</li>
			<li class="nav-itme"><a href="./order-list.html" class="link">我的订单</a></li>
			<li class="nav-itme"><a href="./about.html" class="link">关于商城</a></li>
			<li></li>
		</ul>
	</div>
</nav>