/*
* @Author: 16469
* @Date:   2017-07-10 08:14:54
* @Last Modified by:   16469
* @Last Modified time: 2017-07-18 01:17:29
*/
body{
	background: #f6f6f6;
	font-size: 12px/1.5 tahoma, arial, Microsoft YaHei, sans-serif;
}
img{
	display: block;
	border: none;
}
label{
	cursor: pointer;
}
input[type = "chackbox"]{
	cursor: pointer;
}
.w {
	min-width: 1080px;
	margin : 0 auto;
	position: relative;
	overflow: hidden;
}
.page-wrap{
	padding: 0 90px;
	box-sizing: border-box;
}
/*主题容器1*/
article.main{
	padding: 10px;
	margin-bottom: 10px;
	background: #fff;
}
article.main .main-title{
	padding: 10px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}
article.main .main-body{
	padding:10px;
	overflow: hidden;
}
/*主题容器2*/
.panel{
	padding: 10px;
	margin-top: 10px;
	background: #fff;
}
.panel .panel-title{
	padding: 10px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}
.panel .panel-body{
	padding:10px;
	overflow: hidden;
}
/*全局通用样式*/
/*隐藏*/
.hide{
	display: none;
}
/*链接*/
.link{
	color: #999;
	cursor: pointer;
	text-decoration:none;
}
.link:hover{
	color: #e80012;
}
.link-text{
	color:#999;
}
.btn{
	display: inline-block;
	padding:0 20px;
	height: 40px;
	line-height: 40px;
	vertical-align:  middle;
	border: none;
	background: #c60023;
	font-size: 17px;
	color: #fff;
	outline: none;
	cursor: pointer;
	text-decoration:none;
}
.btn-sm{
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	padding: 0 10px;
}
.loading{
	display: block;
	margin: 10px auto;
	background: url(../../image/icon/loading.gif) no-repeat;
	width: 67px;
	height: 67px;
	border:1px solid #ddd;
	border-radius: 5px; 
	opacity: .6;
}
.err-tip{
	height: 200px;
    line-height: 200px;
    color: #999;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #eee;
}